<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Usuarios
    </ion-list-header>
    <ion-item *ngFor="let item of users" class="ion-activatable" (click)="goToUser(item.id)">
      <ion-avatar slot="start">
        <img [src]="item.avatar">
      </ion-avatar>
      <ion-label>
        <h1>{{ item.first_name + " " + item.last_name }}</h1>
        <h2>{{ item.email }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
